.modal {
  color: white;
  background-color: #1A1C1D;
  box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  width: 500px;
  padding: 24px;
  padding-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

h1 {
  text-align: center;
}

.input-container {
  border-bottom: black 1px solid;
  margin-top: 25px;
  transition: border-bottom, ease, 600ms;
}

.input-container:has(.field > input.ng-invalid.ng-touched) {
  border-bottom: crimson 1px solid;
}

label {
  display: block;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}

.error {
  text-align: center;
  color: crimson;
  font-style: italic;
  font-size: 15px;
}

.field {
  display: grid;
  grid-template-columns: 30px 280px 30px;
  gap: 6px;
  height: 30px;
  margin-top: 18px;
}

.input-icon {
  width: 30px;
  cursor: pointer;
}

.input-icon .btn {
  opacity: 40%;
  color: white;
}

.input {
  display: block;
  color: white;
  background-color: #313131;
  border-radius: 10px;
  text-align: center;
  border: none;
  width: 280px;
  height: 20px;
  margin: 0 auto;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #a8a8a8;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 40rem #313131 inset;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 5% 0%;
}

.button {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: large;
  color: white;
  cursor: pointer;
}

.button-cancel {
  background-color: #525252;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: large;
  color: white;
  cursor: pointer;
  margin-right: 50px;
}

button:disabled {
  background-color: #050505;
  cursor: not-allowed;
}