*,
html {
	font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

img,
picture {
	max-width: 100%;
	display: block;
}

body {
	background-color: #101111;
}