.container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  background: rgba(102, 102, 102, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 1400px;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}