.container {
  overflow-x: auto;
  color: white;
}

.details-page {
  margin: 160px auto;
  padding: 18px;
  width: 1400px;
  background-color: #1A1C1D;
  border-radius: 10px;
  box-shadow: 6px 4px 31px 19px rgba(0,0,0,0.55);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
}

.left-header-part {
  display: flex;
  margin-right: 6px;
}

.coin-logo {
  width: 28px;
  margin-right: 6px;
}

.coin-name {
  margin-right: 6px;
}

.symbol {
  background-color: #6e6e6e;
  padding: 4px;
  padding-right: 5px;
  border-radius: 6px;
}

.center-header-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.bar {
  position: relative;
  width: 300px;
  height: 8px;
  background-color: #6e6e6e;
  border-radius: 8px;
}

.bar-progress {
  background-color: #262626;
  height: 8px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: right;
  padding-right: 5px;
  margin-left: -3px;
}

.arrow {
  position: absolute;
}

.low-high-bar-titles {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 18px;
}

.right-header-part {
  display: flex;
  align-items: center;
  gap: 12px
}

.price {
  font-size: 24px;
  font-weight: 500px;
}

.percent-ticker {
  font-size: 18px;
  font-weight: 500px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 46px;
}

table {
  border-top: #6e6e6e 1px solid;
  border-bottom: #6e6e6e 1px solid;
}

.cell {
  border-right: #6e6e6e 1px solid;
}

th {
  width: 160px;
  text-align: left;
  padding: 10px;
}

th>p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
}

p.timestamp {
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: rgb(177, 177, 177);
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}