<div class="container">
  <div class="card">
    <div class="title">
      <div class="left-title">
        <h4>Total portfolio value</h4>
        <p>{{ (totalAssetValue$ | async)  | currency:'USD':'symbol':'1.2-2'}}</p>
      </div>
      <div class="right-title">
        <h1>My Assets</h1>
        <div class="button" (click)="showAddModal()">
          <i class="fa-solid fa-1x fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="table">
      <thead>
        <tr>
          <td class="first-header">Asset</td>
          <td class="second-header">Balance</td>
          <td class="third-header">Bought Price (USD)</td>
          <td class="third-header">Current Price (USD)</td>
          <td class="fourth-header">24h Change (%)</td>
          <td class="fifth-header">PNL</td>
          <td class="sixth-header"></td>
        </tr>
      </thead>
      <tbody>
        <app-portfolio-table-row class="transaction" 
        *ngFor="let transactionId of (transactionsIds$ | async)"
        (click)="editTransaction(transactionId)"
          [transactionId]="transactionId"></app-portfolio-table-row>
      </tbody>
    </div>
  </div>
  <div class="modal" *ngIf="(addModalStatus$ | async)" (click)="hideModal($event)">
    <app-add-coin-modal></app-add-coin-modal>
  </div>
  <div class="modal" *ngIf="(editModalStatus$ | async)" (click)="hideModal($event)">
    <app-edit-coin-modal></app-edit-coin-modal>
  </div>
</div>