<div class="container">
  <div class="portfolio-status">
    <div class="card">
      <div class="top-row-cap">
        <p>${{totalBalance | number:'1.2-2'}}</p>
      </div>
      <hr>
      <strong>Total Balance</strong>
    </div>
    <div class="card">
      <div class="top-row-cap">
        <p>${{totalPnL | number:'1.2-2'}}</p>
      </div>
      <hr>
      <strong>Total Profit Loss ({{totalPnLPercent | number:'1.2-2'}}%)</strong>
    </div>
  </div>
  <div class="portfolio-data">
    <app-portfolio-table></app-portfolio-table>
  </div>
  <div class="modal" *ngIf="isAddCoinModalRendered">
    <app-add-coin-modal></app-add-coin-modal>
  </div>
</div>