.modal {
  color: white;
  background-color: #1A1C1D;
  box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  width: 500px;
}

.title {
  padding: 50px 0px;
  text-align: center;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: black 1px solid;
  padding: 0px 20px 10px 20px;
  margin: 5px 15% 20px 15%;
}

.input-container:has(div.menu>div.input-dropdown>input.ng-invalid.ng-touched),
.input-container:has(> input.ng-invalid.ng-touched) {
  border-bottom: crimson 1px solid;
  transition: border-color, ease, 600ms;
}

label {
  margin: 8px 0;
  font-size: 16px;
  justify-content: left;
}

.input {
  color: white;
  background-color: #313131;
  border-radius: 10px;
  text-align: center;
  border: none;
  height: 20px;
  width: 300px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #a8a8a8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #313131 inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-div {
  display: flex;
  justify-content: center;
  margin: 5% 0%;
}

.button {
  background: rgb(238, 174, 202);
  background: linear-gradient(180deg, #450B25 0%, #0E2C53 100%);
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: large;
  color: white;
  cursor: pointer;
}

.button-cancel {
  background-color: #525252;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: large;
  color: white;
  cursor: pointer;
  margin-right: 50px;
}

button:disabled {
  background-color: #00DBDE;
  background-image: linear-gradient(180deg, #000000 0%, #1a1a1a 100%);
  cursor: not-allowed
}

.menu {
  display: inline-block;
  position: relative;
}

.menu-content {
  display: none;
  position: absolute;
  width: 300px;
  height: fit-content;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.712);
  background-color: white;
  border-radius: 6px;
  z-index: 1;
}

.on {
  display: flex;
  flex-direction: column;
}

.menu-content button {
  display: block;
  background-color: #313131;
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
  border: none;
}

.menu-content button:hover {
  color: #FFFFFF;
  background-color: crimson
}

.error {
  text-align: center;
  color: crimson;
  font-style: italic;
  font-size: 16px;
  padding-top: -8px;
  padding-bottom: 6px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}