.container {
  background-color: var(--secondary-container-bg);
  padding: 15px;
  border-radius: 10px;
  width: 70vw;
  max-width: 1500px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 14px;
}

.buttons-container button {
  padding: 6px 12px;
  margin-left: 6px;
  border-radius: 10px;
  color: var(--text-color);
  border: none;
  background-color: var(--btn-secondary);
}

.buttons-container button:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}

.buttons-container>button.selected {
  background-color: var(--btn-hover);
}

@media (max-width: 1200px) {
  .container {
    width: 100vw;
    border-radius: 0;
  }
}