.container {
  background-color: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
  width: 70vw;
  max-width: 1500px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 14px;
}

.buttons-container button {
  padding: 6px 12px;
  margin-left: 6px;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: #6e6e6e;
}

.buttons-container button:hover {
  background-color: #262626;
  cursor: pointer;
}

.buttons-container>button.selected {
  background-color: #262626;
}

@media (max-width: 1200px) {
  .container {
    width: 100vw;
    border-radius: 0;
  }
}