.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgba(220, 20, 60, 0.4);
  text-align: center;
  padding: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: fixed;
  top: 80px;
  right: 0;
  z-index: 1;
  width: 400px;
  animation-duration: 600ms;
  animation-name: slideIn;
}

.error-message {
  font-size: 18px;
}

.icon {
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  cursor: pointer;
  padding: 3px;
}

.icon:hover {
  background-color: #2f2f30;
  border-radius: 100%;
  padding: 3px;
  transition: background-color ease 600ms;
}

@keyframes slideIn {
  from {
    color: rgba(255, 255, 255, 0);
    right: -500px
  }

  to {
    color: white;
    right: 0;
  }
}