.container {
  color: white;
  overflow-x: auto;
  margin-bottom: 200px 0
}

.global-data {
  margin: 80px auto;
  width: 80%;
}

.table-component-container {
  padding: 25px;
  margin: 0 auto;
  width: 80%;
  min-width: 600px;
  max-width: 1600px;
  background-color: #1A1C1D;
  box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}

.table-component-container>h1 {
  text-align: center;
  padding: 20px 0px 50px 0px;
  font-weight: 300;
}

@media (max-width: 800px) {
  .global-data {
    width: 90%;
  }

  .table-component-container {
    padding: 0;
    width: 100%;
    min-width: 320px;
    border-radius: 0;
  }
}