#first {
  width: 32px;
  padding-left: 5px;
}

#second {
  width: 28px;
}

#third {
  width: 200px;
}

#fourth {
  width: 120px;
  text-align: center;
}

#fifth {
  width: 150px;
}

#sixth {
  width: 90px;
}

#seventh {
  width: 90px;
}

#eighth {
  width: 90px;
}

#ninth {
  width: 150px;
}

#tenth {
  width: 170px;
}

img {
  width: 25px;
}

tr {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-top: 20px;
  border-bottom: 1px #797979 solid;
}

tr:hover {
  background-color: #757575;
  transition: background-color, ease, 600ms;
}

td {
  overflow: hidden;
  height: 40px;
}