<div class="container">
  <section class="register-container" >
    <header>
      <img class="logo" src="/assets/logo-white.png" alt="logo img">
      <h1>Register</h1>
    </header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="input-container">
        <label for="email">Email</label>
        <p class="error" 
        *ngIf="!registerForm.get('email')?.valid && 
        registerForm.get('email')?.touched"
        >Invalid e-mail!</p>

        <div class="field">
          <i class="input-icon fa-solid fa-at"></i>
          <input id="email" type="text" 
          placeholder="Enter Email" formControlName="email" autofocus>
          <div class="input-icon"></div>
        </div>
      </div>

      <div class="input-container">
        <label for="email">Username</label>
        <p class="error"
          *ngIf="!registerForm.get('username')?.valid && 
          registerForm.get('username')?.touched"
          >Invalid username!</p>

        <div class="field">
          <i class="input-icon fa-solid fa-at"></i>
          <input id="username" type="text" 
          placeholder="Enter Username" formControlName="username">
          <div class="input-icon"></div>
        </div>
      </div>

      <div class="input-container" appToolTip className="open">
        <label for="password">Password</label>
        <p class="error"
          *ngIf="!registerForm.get('password')?.valid && 
          registerForm.get('password')?.touched"
          >Invalid password!</p>

        <div class="field">
          <i class="input-icon fa-solid fa-key"></i>
          <input id="password" type="password" 
          placeholder="Enter Password" formControlName="password">
          <div class="input-icon"></div>
        </div>
        <div class="tooltip">
          <div class="tooltip-text">
            <h4>Password must contain</h4>
            <ul>
              <li>
                <p>one uppercase letter</p>
              </li>
              <li>
                <p>one lowercase letter</p>
              </li>
              <li>
                <p>one number and also</p>
              </li>
              <li>
                <p>must be at least 8 characters long!</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="input-container">
        <label for="repeatPass">Repeat Password</label>
        <p class="error" 
        *ngIf="registerForm.get('rePass')?.errors?.['passwordDontMatch'] &&
        registerForm.get('rePass')?.touched"
        >Passwords must match!</p>
        <p class="error" 
        *ngIf="!registerForm.get('rePass')?.valid && 
        registerForm.get('rePass')?.touched"
        >Invalid password!</p>

        <div class="field">
          <i class="input-icon fa-solid fa-key"></i>
          <input id="rePass" type="password" 
          placeholder="Repeat Password" formControlName="rePass">
          <div class="input-icon"></div>
        </div>
      </div>

      <div class="button-container">
        <button type="submit" class="registerbtn button" 
        [disabled]="!registerForm.valid">Register</button>
      </div>

    </form>

    <footer>
      <p>Already have an account? <a routerLink="/auth/login">Sign in</a>.</p>
    </footer>  
  </section>
</div>