<div class="container">
  <form>
    <img class="logo" src="/assets/logo.png" alt="logo img">
    <h1>Register</h1>
    <label for="email">Email</label>
    <div class="input">
      <img class="input-icon" src="/assets/at-solid.svg" alt="pass">
      <input id="email" type="text" placeholder="Enter Email" name="email">
      <img class="input-icon" src="" alt="">
    </div>
    <label for="password">Password</label>
    <div class="input">
      <img class="input-icon" src="/assets/key-solid.svg" alt="pass">
      <input id="password" type="password" placeholder="Enter Password" name="password">
      <img class="input-icon" src="" alt="">
    </div>
    <label for="repeatPass">Repeat Password</label>
    <div class="input">
      <img class="input-icon" src="/assets/key-solid.svg" alt="pass">
      <input id="repeatPass" type="password" placeholder="Repeat Password" name="repeatPass">
      <img class="input-icon" src="" alt="">
    </div>
    <div class="button-div">
      <button type="submit" class="registerbtn button">Register</button>
    </div>
    <div class="no-account">
      <p>Already have an account?<a href="/login">Sign in</a>.</p>
    </div>
  </form>
</div>