<div class="global-data-container">
  <div class="card">
    <div class="top-row-cap">
      <p><strong>$</strong>{{ globalData?.total_market_cap | number:'1.2-2' }}</p>
      <p ng>{{ globalData?.market_cap_change_percentage_24h_usd | number:'1.2-2' }}<strong>%</strong></p>
    </div>
    <hr>
    <strong>Market Capitalization</strong>
  </div>
  <div class="card">
    <div class="top-row">
      <strong>$</strong>
      <p>{{ globalData?.trading_volume | number:'1.2-2' }}</p>
    </div>
    <hr>
    <strong>24h Trading Volume</strong>
  </div>
  <div class="card">
    <div class="top-row">
      <p>{{ globalData?.btc_dominance | number:'1.2-2' }}</p>
      <strong>%</strong>
    </div>
    <hr>
    <strong>Bitcoin Market Cap Dominance</strong>
  </div>
  <div class="card">
    <div class="top-row">
      <p>{{ globalData?.number_of_coins | number:'1.0' }}</p>
    </div>
    <hr>
    <strong># of Coins</strong>
  </div>
</div>