<div class="container">
  <section class="converter">
    <form [formGroup]="converterForm" (ngSubmit)="onSubmit()">
      <h1 class="title">Cryptocurrency Converter Calculator</h1>

      <div class="amount-input-container">
        <div class="input-container">
          <div class="input">
            <i class="input-icon fa-solid fa-coins"></i>
            <input type="text" placeholder="Enter amount" 
            formControlName="amount" (keyup)="setAmount()" autofocus>
            <div class="input-icon"></div>
          </div>
        </div>
      </div>

      <div class="currency-selector-container">

        <div class="input-container">
          <div class="input">
            <div class="input-icon"></div>
            <input #inputFrom 
            (input)="filterFrom(inputFrom.value)" 
            autocomplete="off" 
            class="input" id="from" 
            placeholder="Bitcoin"
            formControlName="from" 
            type="text">
            <i class="input-icon fa-regular fa-square-caret-down"></i>
            <div class="menu-content" [class.on]="(cryptoMap$ | async)" >
              <button type="button" 
              *ngFor="let coin of (cryptoMap$ | async)" 
              (click)="fromCrypto(coin)"
              >{{coin.name}} - {{coin.symbol | uppercase}}</button>
            </div>
          </div>
        </div>

        <div class="input-container">
          <div class="input">
            <div class="input-icon"></div>
            <input #inputTo 
            (input)="filterTo(inputTo.value)" 
            autocomplete="off" 
            class="input" id="to" 
            placeholder="USD"
            formControlName="to" 
            type="text">
            <i class="input-icon fa-regular fa-square-caret-down"></i>
            <div class="menu-content" [class.on]="(fiatMap$ | async)">
              <button type="button" 
              *ngFor="let coin of (fiatMap$ | async)" 
              (click)="toFiat(coin)"
              >{{coin.name}} - {{coin.symbol | uppercase}}</button>
            </div>
          </div>
        </div>
          
      </div>

      <div class="button-container">
        <button type="submit" class="button" [disabled]="!converterForm.valid">
          <i class="fa-solid fa-arrows-rotate"></i> Convert</button>
      </div>

      <div class="output">
        <p class="output-field" *ngIf="result$ | async">
          {{ (result$ | async)!.amount }}
          {{ (result$ | async)!.name }}
          ({{ (result$ | async)!.symbol }}) =
          {{ (result$ | async)!.quote[(to$ | async)!.id].price | number:'1.2-2' }}
          {{ (to$ | async)!.name }}
          "{{ (to$ | async)!.sign }}"
          ({{ (to$ | async)!.symbol }})
        </p>
      </div>

    </form>
  </section>
</div>