<div class="table">
  <div class="title">
    <h1>My Portfolio</h1>
    <button type="button" (click)="showModal()">Add New Coin</button>
  </div>
  <thead>
    <tr>
      <td id="first"></td>
      <td id="second">Coin</td>
      <td id="third">Sym</td>
      <td id="fourth">Price</td>
      <td id="fifth">Cost</td>
      <td id="sixth">Holdings</td>
      <td id="seventh">PNL</td>
      <td id="eighth"></td>
    </tr>
  </thead>
  <tbody>
    <app-portfolio-table-row 
    *ngFor="let transaction of userTransactions"
    [transactionId]="transaction"></app-portfolio-table-row>
  </tbody>
</div>
<!-- 
  Logo
  Coin name x 2
  Symbol
  Current Price
  Holding
  PNL
 -->