.table {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: #526081;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border: 1px solid white;
  border-radius: 15px;
  background: white; */
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0px 80px 0px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

button {
  background: rgb(198, 101, 199);
  background: linear-gradient(90deg, #8B0014, #33008B 100%);
  border: none;
  border-radius: 10px;
  padding: 10px 5%;
  font-size: large;
  color: white;
  cursor: pointer;
}

thead {
  border-bottom: 1px solid black;
}

tbody {
  display: flex;
  flex-direction: column;
}


#first {
  width: 25px;
}

#second {
  width: 200px;
}

#third {
  width: 80px;
}

#fourth {
  width: 150px;
}

#fifth {
  width: 150px;
}

#sixth {
  width: 150px;
}

#seventh {
  width: 100px;
}

#eighth {
  width: 25px;
}

tr {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  height: 40px;
}

td {
  vertical-align: middle;
}