.table-container {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  border-radius: 8px;
  background-color: #1f1f1f;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #1f1f1f;
}

thead {
  display: flex;
  flex-direction: column;
}

thead tr {
  border-bottom: 1px white solid;
}

tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
  text-align: center;
  gap: 10px;
}

tr:last-child {
  border-bottom: none;
}

tbody tr {
  cursor: pointer;
  background-color: #1F1F1F;
}

tbody tr:hover,
tbody tr:hover .first-col,
tbody tr:hover .second-col,
tbody tr:hover .third-col {
  background-color: #2f2f30;
  transition: all ease 300ms;
}

th,
td {
  height: 55px;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}

.first-col {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  left: 0px;
  background-color: #1f1f1f;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 12px;
}

.first-col>img {
  width: 35px;
  height: 35px;
}

.second-col {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
}

.third-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  text-align: left;
  padding-top: 17px;
}

.fourth-col {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align: left;
  padding-top: 17px;
}

.fifth-col {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sixth-col {
  position: relative;
  width: 35px;
  min-width: 35px;
  max-width: 35px;
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 6px;
  border-radius: 8px;
  cursor: pointer;
}

.cross:hover {
  background-color: crimson;
}

@media (max-width: 800px) {
  .first-col {
    width: 160;
    min-width: 160;
    max-width: 160;
    gap: 12px;
  }
  
  .first-col>img {
    width: 25px;
    height: 25px;
  }
}