<div class="table-container">
  <table>
    <thead>
      <tr>
        <td class="first-col sticky-col"><p>Asset</p></td>
        <td class="second-col"><p>Balance</p></td>
        <td class="third-col"><p>Bought Price (USD)</p></td>
        <td class="third-col"><p>Current Price (USD)</p></td>
        <td class="fourth-col"><p>24h Change (%)</p></td>
        <td class="fifth-col"><p>PNL</p></td>
        <td class="sixth-col"><p></p></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of (transactions$ | async)"
      (click)="editTransaction(transaction.transactionId)"
      >
        <td class="first-col sticky-col">
          <img src="{{ transaction.image }}" alt="logo">
          <div class="asset-name">
            <strong>{{ transaction.name}}</strong>
            <p>{{ transaction.symbol | uppercase }}</p>
          </div>
        </td>
        <td class="second-col">
          <strong>{{ transaction.quantity }} {{ transaction.symbol | uppercase }}</strong>
          <p class="spacer">≈</p>
          <p>{{ transaction.value | currency:'USD':'symbol':'1.2-2'}}</p>
        </td>
        <td class="third-col">
          <p>{{ transaction.boughtPrice | currency:'USD':'symbol':'1.2-10'}}</p>
        </td>
        <td class="third-col">
          <p>{{ transaction.current_price | currency:'USD':'symbol':'1.2-10'}}</p>
        </td>
        <td class="fourth-col">
          <p>{{transaction.price_change_percentage_24h | number:'1.2-2'}}%</p>
        </td>
        <td class="fifth-col">
          <p>{{ transaction.pnlValue | currency:'USD':'symbol':'1.2-2' }}</p>
          <p>{{ transaction.pnlPercent | number:'1.2-2' }}%</p>
        </td>
        <td class="sixth-col" (click)="removeTransaction(transaction.transactionId)">
          <div class="cross">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>