<div class="table">
  <h1>My Portfolio</h1>
  <thead>
    <tr>
      <td id="first">#</td>
      <td id="second"></td>
      <td id="third">Coin</td>
      <td id="fourth">Sym</td>
      <td id="fifth">Price</td>
      <td id="sixth">Holdings</td>
      <td id="seventh">PNL</td>
    </tr>
  </thead>
  <tbody>
    <app-portfolio-table-row></app-portfolio-table-row>
    <app-portfolio-table-row></app-portfolio-table-row>
    <app-portfolio-table-row></app-portfolio-table-row>
  </tbody>
</div>

<!-- 
  Logo
  Coin name x 2
  Symbol
  Current Price
  Holding
  PNL
 -->