.container {
  display: block;
  color: white;
  overflow-x: auto;
  margin-bottom: 200px;
}

.global-data {
  margin: 80px auto;
  width: 80%;
}

.table-component-container {
  padding: 25px;
  margin: 0 auto;
  width: 80%;
  min-width: 600px;
  background: rgba(102, 102, 102, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.table-component-container>h1 {
  text-align: center;
  padding: 20px 0px 50px 0px;
  font-weight: 300;
}

.spinner-container {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}