.container {
  padding: 0px 10%;
  color: white;
}

.table {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: rgba(102, 102, 102, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  text-align: center;
  padding: 50px 0px 80px 0px;
  text-decoration: underline;
}

thead {
  border-bottom: 1px solid black;
}

tbody {
  display: flex;
  flex-direction: column;
}


#first {
  width: 25px;
}

#second {
  width: 25px;
}

#third {
  width: 350px;
}

#fourth {
  width: 120px;
}

#fifth {
  width: 150px;
}

#sixth {
  width: 80px;
}

#seventh {
  width: 70px;
}

#eighth {
  width: 80px;
}

#ninth {
  width: 200px;
}

#tenth {
  width: 200px;
}

tr {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  height: 40px;
}

td {
  vertical-align: middle;
}

.global-data {
  margin: 80px 0;
}