<div class="card-box">
  <div class="logo-container">
    <img src="{{ card.image }}" alt="coin-logo">
  </div>
  <div>
    <div class="text-center">
      <h3 class="crypto-title">{{ card.name }}</h3>
      <p><span class="label">Price:</span> ${{ card.current_price | number:'1.2-10' }}</p>
      <p><span class="label">24h:</span> ${{ card.price_change_24h | number:'1.2-2' }}</p>
      <p><span class="label">24h:</span> {{ card.price_change_percentage_24h | number:'1.2-2' }}%</p>
    </div>
    <div class="data-buttons">
      <a class="button" href="">Details</a>
    </div>
  </div>
</div>