<div class="card-box">
  <div class="logo-container">
    <img src="https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1547033579">
  </div>
  <div>
    <div class="text-center">
      <h3 class="crypto-title">{{ card.name }}</h3>
      <p>Price: ${{ card.currentPrice }}</p>
      <p>Percent 24h: {{ card.percentageChange24 }}%</p>
      <p>Percent 7d: {{ card.priceChange24 }}%</p>
    </div>
    <div class="data-buttons">
      <a class="button" href="">Add To Portfolio</a>
      <a class="button" href="">Details</a>
    </div>
  </div>
</div>