<article class="card">
  <header class="logo-container">
    <h3 class="coin-name">{{ card.name }}</h3>
    <img src="{{ card.image }}" alt="coin-logo">
  </header>
  <main class="coin-info">
    <p><span class="label">Price:</span>
      {{ card.current_price | currency:'USD':'symbol':'1.2-10' }}</p>
    <p><span class="label">24h:</span>
      {{ card.price_change_percentage_24h_in_currency / 100 | percent:'1.2-2' }}</p>
    <p><span class="label">7d:</span>
      {{ card.price_change_percentage_7d_in_currency / 100 | percent:'1.2-2' }}</p>
  </main>
  <footer class="data-buttons">
    <a class="button" routerLink="/coins/{{card.id}}">Details</a>
  </footer>
</article>