.card {
  margin: 25px;
  background-color: #1A1C1D;
  box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  color: white;
  padding: 8px;
  width: 200px;
}

.card .logo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}

.logo-container .coin-name {
  text-align: center;
  color: white;
}

.logo-container img {
  width: 50px;
}

.card .coin-info {
  padding: 10px;
  margin-bottom: 8px;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.coin-info p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}

.coin-info .label {
  color: #bbbbbb;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.button-container .button {
  padding: 8px 2px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: white
}

.button-container .button:hover {
  background-color: #2f2f30;
  transition: background-color, ease, 600ms;
}

@media (max-width: 800px) {
  .card {
    margin: 16px;
    border-radius: 6px;
    color: white;
    padding: 8px;
    width: 160px;
  }

  .card .logo-container {
    padding: 0;
    padding-bottom: 8px;
  }

  .logo-container .coin-name {
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    color: white;
  }

  .logo-container img {
    width: 35px;
  }

  .coin-info p {
    font-size: 16px;
    padding: 0;
  }

  .button-container {
    padding: 0;
  }

  .button-container .button {
    padding: 4px 2px;
  }
}