.card {
  margin: 25px;
  background-color: #1A1C1D;
  box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  color: white;
  padding: 8px;
  width: 200px;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.coin-name {
  text-align: center;
  padding-top: 15px;
  color: white;
}

img {
  width: 50px;
}

.coin-info {
  padding: 10px;
  margin-bottom: 8px;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.coin-info p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}

.label {
  color: #bbbbbb;
}

.data-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.button {
  padding: 8px 2px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: white
}

.button:hover {
  background-color: #2f2f30;
  transition: background-color, ease, 600ms;
}