<tr>
  <td class="first">
    <img src="{{ (transaction$ | async)?.image }}" alt="logo">
    <div class="asset-name">
      <strong>{{ (transaction$ | async)?.name}}</strong>
      <p>{{ (transaction$ | async)?.symbol | uppercase }}</p>
    </div>
  </td>
  <td class="second">
    <strong>{{ (transaction$ | async)?.quantity }} 
      {{ (transaction$ | async)?.symbol | uppercase }}</strong>
    <p class="spacer">≈</p>
    <p>{{ (transaction$ | async)?.value | currency:'USD':'symbol':'1.2-2'}}</p>
  </td>
  <td class="third">
    <p>{{ (transaction$ | async)?.current_price | currency:'USD':'symbol':'1.2-10'}}</p>
  </td>
  <td class="fourth">
    <p>{{(transaction$ | async)?.price_change_percentage_24h | number:'1.2-2'}}%</p>
  </td>
  <td class="fifth">
    <p>{{ (transaction$ | async)?.pnlValue | currency:'USD':'symbol':'1.2-2' }}</p>
    <p>{{ (transaction$ | async)?.pnlPercent | number:'1.2-2' }}%</p>
  </td>
  <td class="sixth">
    <i class="fa-solid fa-xmark"></i>
  </td>
</tr>