<nav>
    <ul>
        <li id="logo"><a routerLink="/home"><img src="/assets/logo.png" alt="logo"></a></li>
        <div class="button-container">
            <li *ngIf="hasUser">
                <p>Welcome {{email}}</p>
            </li>
            <li><a routerLink="/coins">Coins</a></li>
            <li><a routerLink="/converter">Crypto Converter</a></li>
            <div *ngIf="!hasUser" class="guestContainer">
                <li><a routerLink="/auth/login">Login</a></li>
                <li><a routerLink="/auth/register">Register</a></li>
            </div>
            <div *ngIf="hasUser" class="userContainer">
                <li><a routerLink="/portfolio">Portfolio</a></li>
                <li><a>Logout</a></li>
            </div>
        </div>
    </ul>
</nav>