<nav>
    <ul>
        <li id="logo"><a href=""><img src="/assets/Untitled.png" alt="logo"></a></li>
        <div class="button-container">
            <li *ngIf="hasUser">
                <p>Welcome {{email}}</p>
            </li>
            <li><a href="">Coins</a></li>
            <li><a href="">Cryptocurrency Converter</a></li>
            <div *ngIf="!hasUser" class="guestContainer">
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </div>
            <div *ngIf="hasUser" class="userContainer">
                <li><a href="">Portfolio</a></li>
                <li><a href="">Logout</a></li>
            </div>
        </div>
    </ul>
</nav>
<!-- 
Home
Forum
Portfolio
Login
Register
Logout -->