tr {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border-bottom: 1px black solid;
}

tr:hover {
  background: #293040
}

td {
  height: 40px;
}

#first {
  width: 25px;
  padding-top: 20px;
  text-align: center;
}

#second {
  padding-top: 17px;
}

#third {
  width: 200px;
  padding-top: 20px;
}

#fourth {
  width: 80px;
  padding-top: 20px;
  text-align: center;
}

#fifth {
  width: 150px;
  padding-top: 20px;
  text-align: center;
}

#sixth {
  width: 150px;
  padding-top: 12px;
  text-align: center;
}

#seventh {
  width: 100px;
  padding-top: 12px;
  text-align: center;
}

#eighth {
  padding-top: 20px;
  width: 25px;
  cursor: pointer;
}

img {
  width: 25px;
}