<div class="container">
  <form>
    <img class="logo" src="/assets/logo.png" alt="logo img">
    <h1>Login</h1>
    <label for="email">Email</label>
    <div class="input">
        <img class="input-icon" src="/assets/at-solid.svg" alt="pass">
        <input id="email" placeholder="Enter your e-mail!" name="email" type="text">
        <img class="input-icon" src="" alt="">
    </div>
    <label for="password">Password</label>
    <div class="input">
        <img class="input-icon" src="/assets/key-solid.svg" alt="pass">
        <input id="password" type="password" placeholder="Enter your password!" name="password">
        <img class="input-icon" src="" alt="">
    </div>
    <div class="button-div">
      <button type="submit" class="button">Login</button>
    </div>
    <div class="no-account">
      <p>Don't have an account? <a href="/register">Sign up</a>.</p>
    </div>
  </form>
</div>