<div class="container">
  <section class="login-container">

    <header>
      <img class="logo" src="/assets/logo-white.png" alt="logo img">
      <h1>Login</h1>
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-container">
        <label for="email">Email</label>
        <p class="error" 
        *ngIf="!loginForm.get('email')?.valid && 
        loginForm.get('email')?.touched"
        >Invalid e-mail!</p>

        <div class="field">
          <div class="input-icon">
            <i class="input-icon fa-solid fa-at"></i>
          </div>
          <input id="email" 
          placeholder="Enter Email" 
          formControlName="email" autofocus
          type="text">
          <div class="input-icon"></div>
        </div>
      </div>

      <div class="input-container">
        <label for="password">Password</label>
        <p class="error" 
        *ngIf="!loginForm.get('password')?.valid && 
        loginForm.get('password')?.touched"
        >Invalid password!</p>

        <div class="field">
          <div class="input-icon">
            <i class="input-icon fa-solid fa-key"></i>
          </div>
          <input id="password" 
          placeholder="Enter your password!" 
          formControlName="password" 
          [type]="passField ? 'password' : 'text'">
          <div class="input-icon eye" (click)="togglePassField()">
            <i class="input-icon fa-solid fa-eye"></i>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button type="submit" class="button" 
        [disabled]="!loginForm.valid">Login</button>
      </div>

    </form>

    <footer>
      <p>Don't have an account? <a routerLink="/auth/register">Sign up</a>.</p>
    </footer>

  </section>
</div>