.container {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.login-container {
  max-width: 500px;
  color: white;
  background: rgba(102, 102, 102, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: auto;
  width: 180px;
  padding: 50px 0px;
}

h1 {
  text-align: center;
  font-weight: 300;
  padding: 0px 0px 10px 0px;
}

label {
  margin-top: 15px;
  display: flex;
  font-size: 16px;
  padding-left: 16%;
  justify-content: left;
}

.input {
  display: flex;
  justify-content: space-between;
  border-bottom: black 1px solid;
  padding: 0px 20px 10px 20px;
  margin: 5px 15% 20px 15%;
}

.input:has(> input.ng-invalid.ng-touched) {
  border-bottom: red 1px solid;
}

.input-icon {
  padding: 8px;
  padding-left: 0px;
  width: 20px;
  opacity: 40%;
}

input {
  color: white;
  background: rgba(102, 102, 102, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  text-align: center;
  border: none;
  width: 300px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #a8a8a8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #3F4249 inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.button-div {
  display: flex;
  justify-content: center;
  margin: 5% 0%;
  margin-bottom: 0px;
}

button {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  border: none;
  border-radius: 10px;
  padding: 10px 30%;
  font-size: large;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed
}

.no-account {
  display: flex;
  justify-content: center;
  margin: 25px;
}

a {
  color: crimson;
  padding-left: 3px;
  font-weight: bold;
  text-decoration: none;
}

.error {
  text-align: center;
  color: crimson;
  font-style: italic;
  font-size: 15px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}
.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}