.container {
  margin: 180px 0;
}

.login-container {
  margin: 0 auto;
  width: 460px;
  color: white;
  background-color: #1A1C1D;
  box-shadow: 6px 4px 31px 19px rgba(0,0,0,0.55);
  border-radius: 10px;
}

header {
  text-align: center;
}

.logo {
  width: 180px;
  padding: 50px 0px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.input-container {
  border-bottom: black 1px solid;
  margin-top: 25px;
  transition: border-bottom, ease, 600ms;
}

.input-container:has(.field > input.ng-invalid.ng-touched) {
  border-bottom: crimson 1px solid;
}

label {
  display: block;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}

.error {
  text-align: center;
  color: crimson;
  font-style: italic;
  font-size: 15px;
}

.field {
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  margin-top: 18px;
}

.input-icon {
  width: 30px;
  opacity: 40%;
  color: white;
}

input {
  color: white;
  background-color: #313131;
  border-radius: 10px;
  text-align: center;
  border: none;
  width: 280px;
  height: 20px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #a8a8a8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 40rem #313131 inset;
}

.button-container {
  text-align: center;
  margin-top: 25px;
}

button {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  padding: 10px 30%;
  font-size: large;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #050505;
  cursor: not-allowed;
}

footer {
  text-align: center;
  padding: 25px;
}

a {
  color: crimson;
  padding-left: 3px;
  font-weight: bold;
  text-decoration: none;
}