.container {
  margin: 180px 0;
}

.login-container {
  margin: 0 auto;
  width: 460px;
  color: var(--text-color);
  background-color: var(--container-bg);
  box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}

header {
  text-align: center;
}

.logo {
  width: 180px;
  padding: 50px 0px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.input-container {
  border-bottom: black 1px solid;
  margin-top: 25px;
  transition: border-bottom, ease, 600ms;
}

.input-container:has(.field > input.ng-invalid.ng-touched) {
  border-bottom: var(--error-color) 1px solid;
}

label {
  display: block;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}

.error {
  text-align: center;
  color: var(--error-color);
  font-style: italic;
  font-size: 15px;
}

.field {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  gap: 6px;
  height: 30px;
  margin-top: 18px;
}

.input-icon {
  width: 30px;
  opacity: 40%;
  color: var(--text-color);
}

.eye {
  cursor: pointer;
}

input {
  color: var(--text-color);
  background-color: var(--input-bg);
  border-radius: 10px;
  text-align: center;
  border: none;
  height: 20px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: var(--placeholder-color)
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 40rem var(--input-bg) inset;
}

.button-container {
  text-align: center;
  margin-top: 25px;
}

button {
  background-color: var(--btn-primary);
  border: none;
  border-radius: 10px;
  padding: 10px 30%;
  font-size: large;
  color: var(--text-color);
  cursor: pointer;
}

button:disabled {
  background-color: var(--btn-disabled);
  cursor: not-allowed;
}

footer {
  text-align: center;
  padding: 25px;
}

a {
  color: var(--btn-primary);
  padding-left: 3px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 460px) {
  .container {
    margin: 100px 0;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0;
  }

  form {
    padding: 1rem;
    width: 100%;
  }
}