.navigation {
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 8px 16px;
	width: 100%;
	color: var(--text-color);
	background-color: var(--container-bg);
	box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.menu {
	display: flex;
	flex-direction: row;
}

.menu-btn {
	display: none;
}

.logo a img {
	margin-left: 30px;
	width: 100px;
}

.user {
	padding: 15px;
	color: var(--text-color);
}

.right-container {
	display: flex;
	flex-wrap: wrap;
}

.right-container li {
	padding: 8px;
	text-align: center;
}

.right-container .button {
	text-decoration: none;
	padding: 8px;
	border-radius: 10px;
	color: var(--text-color);
	cursor: pointer;
}

.right-container .button:hover {
	text-decoration: none;
	padding: 8px;
	border-radius: 10px;
	background-color: var(--btn-hover);
	transition: background-color, ease, 600ms;
}

@media (max-width: 800px) {
	.right-container:has(.button.open) .menu {
		display: block;
		position: absolute;
		top: 57px;
		right: 0;
		background-color: var(--btn-hover);
		border-radius: 6px;
		padding: 10px;
		box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
	}

	.menu-btn {
		display: block;
	}

	.menu {
		display: none;
	}
}