<section class="modal">
  <h1>Change password</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div class="input-container">
      <label for="oldPassword">Old password</label>
      <p class="error"
      *ngIf="!changePasswordForm.get('oldPassword')?.valid &&
      changePasswordForm.get('oldPassword')?.touched"
      >Please enter the old password!</p>

      <div class="field">
        <div class="spacer"></div>
        <input id="oldPassword"
        formControlName="oldPassword"
        [type]="oldPassField ? 'password' : 'text'">
        <div class="input-icon btn" (click)="toggleOldPass()">
          <i class="input-icon fa-solid fa-eye"></i>
        </div>
      </div>
    </div>

    <div class="input-container" appToolTip className="open">
      <label for="newPassword">New password</label>
      <p class="error"
      *ngIf="!changePasswordForm.get('newPassword')?.valid &&
      changePasswordForm.get('newPassword')?.touched"
      >Invalid password!</p>

      <div class="field">
        <div class="spacer"></div>
        <input id="newPassword" 
        formControlName="newPassword"
        [type]="newPassField ? 'password' : 'text'">
        <div class="input-icon btn" (click)="toggleNewPass()">
          <i class="input-icon fa-solid fa-eye"></i>
        </div>
      </div>
      <div class="tooltip">
        <div class="tooltip-text">
          <h4>Password must contain</h4>
          <ul>
            <li>
              <p>one uppercase letter</p>
            </li>
            <li>
              <p>one lowercase letter</p>
            </li>
            <li>
              <p>one number and also</p>
            </li>
            <li>
              <p>must be at least 8 characters long!</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="input-container">
      <label for="reNewPassword">Repeat password</label>
      <p class="error" 
      *ngIf="changePasswordForm.get('reNewPassword')?.errors?.['passwordDontMatch'] &&
      changePasswordForm.get('reNewPassword')?.touched"
      >Passwords must match!</p>
      <p class="error"
      *ngIf="!changePasswordForm.get('reNewPassword')?.valid &&
      changePasswordForm.get('reNewPassword')?.touched"
      >Invalid password!</p>

      <div class="field">
        <div class="spacer"></div>
        <input id="reNewPassword" 
        formControlName="reNewPassword"
        [type]="newRePassField ? 'password' : 'text'">
        <div class="input-icon btn" (click)="toggleNewRePass()">
          <i class="input-icon fa-solid fa-eye"></i>
        </div>
      </div>
    </div>

    <div class="buttons-container">
      <button class="button-cancel" 
      (click)="closeModal()"
      type="button">Cancel</button>
      <button class="button" 
      [disabled]="!changePasswordForm.valid"
      type="submit">Confirm</button>
    </div>
  </form>
</section>