.modal {
  color: var(--text-color);
  background-color: var(--container-bg);
  box-shadow: 6px 4px 31px 19px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  width: 500px;
  padding: 24px;
  padding-bottom: 0;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.input-container {
  border-bottom: black 1px solid;
  margin-top: 25px;
  transition: border-bottom, ease, 600ms;
}

.input-container:has(.field > input.ng-invalid.ng-touched) {
  border-bottom: var(--error-color) 1px solid;
}

label {
  display: block;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}

.error {
  text-align: center;
  color: var(--error-color);
  font-style: italic;
  font-size: 15px;
}

.field {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  gap: 6px;
  height: 30px;
  margin-top: 18px;
}

.input-icon {
  width: 30px;
  opacity: 40%;
  color: var(--text-color);
}


.input-icon .btn {
  opacity: 40%;
  color: var(--text-color);
}

.input {
  color: var(--text-color);
  background-color: var(--input-bg);
  border-radius: 10px;
  text-align: center;
  border: none;
  height: 20px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: var(--placeholder-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 40rem var(--input-bg) inset;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
}

.button {
  background-color: var(--btn-primary);
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: large;
  color: var(--text-color);
  cursor: pointer;
}

.button-cancel {
  background-color: var(--btn-secondary);
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: large;
  color: var(--text-color);
  cursor: pointer;
}

button:disabled {
  background-color: var(--btn-disabled);
  cursor: not-allowed;
}

@media (max-width: 500px) {
  .modal {
    width: 100%;
  }

  form {
    padding: 0;
  }
}