<section class="modal">
    <h1>Delete account!</h1>
  <form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()">
    <div class="input-container">
      <label for="password">New password</label>
      <p class="error"
      *ngIf="!deleteAccountForm.get('password')?.valid &&
      deleteAccountForm.get('password')?.touched"
      >Invalid password!</p>

      <div class="field">
        <div class="spacer"></div>
        <input class="input" id="password" 
        formControlName="password"
        [type]="passField ? 'password' : 'text'">
        <div class="input-icon" (click)="togglePassField()">
          <i class="input-icon fa-solid fa-eye"></i>
        </div>
      </div>
    </div>
    
    <div class="buttons-container">
      <button class="button-cancel" 
      (click)="closeModal()"
      type="button">Cancel</button>
      <button class="button" 
      [disabled]="!deleteAccountForm.valid"
      type="submit">Confirm</button>
    </div>
  </form>
</section>